*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;}
body{
    font-family: sans-serif;
    background-color: #101010;}
/*Navbar*/
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #000000;
    position:  fixed;
    width: 100%;
    z-index: 100;}
.logo{
     margin-left: 30px;
      transition: 0.3s;}
.logo a{
    text-decoration: none;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      font-size: 20px;}
.navbar{display: flex;}
.navbar a {
    display: block;
    padding: 23px 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.3s ease;}
.v2{background-color:rgba(156, 8, 201, 0.5);}
.v1:hover {background-color:rgba(156, 8, 201, 0.5)}
/*Header*/
.header{
     display: flex;
      justify-content: center;
      align-items: center; 
      min-height: 60vh !important;
      background:url(img/descarga.jpg) no-repeat center;
      background-size: cover; }
.title{
    margin: 20px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
   color: #fff; }
.p1 {
    font-size: 18px;
   color: #fff;
}
/*Seccion*/
.title2 {
   font-size: 50px;
   margin:30px;
   font-weight: 600;
   text-transform: uppercase;
   color: #fff;
}
.p2{
    text-align: center;
    font-size: 16px;
    color: #fff;
    width:90%;
 }
  .p3{
    margin: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
 }
.content {
    min-height:10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    .sau {
        background: #1f1d1d;}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    background: transparent;
    transition: all 400ms;}


 .btn:hover{
    background: #9c27b0;

 }

 .btn-home {
    display: flex;
 }
.btn-home a{
    margin: 0 10px;
}
.nono{
    text-decoration: none;
}
/*Media*/
@media (max-width:600px){
    .navbar{
        display: none;
    }
    .home{
        justify-content: center;
    }
}
