*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;}
body{
    text-align: center;
    font-family: sans-serif;
    background-color: #101010;}
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #000000;
    position:  fixed;
    width: 100%;
    z-index: 100;}
.navbar{
    display: flex;
    margin-right: 10px;}
.logo{
    margin-left: 30px;
    transition: 0.3s;}

.logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;}
.navbar a {
    display: block;
    padding: 23px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s;}
.navbar a:hover {
    background: #0e88c0; }
.header{
     display: flex;
      justify-content: center;
     align-items: center; }
 .header{
     display: flex;
      justify-content: center;
     align-items: center; }
 .header {
   height: 60vh !important;
    background:url(img/descarga.jpg) no-repeat center;
    background-size: cover; }
.title {
   margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
   color: #fff; }
 p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
   padding: 0 100px; }

   .content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

    .sau {
        padding: 30px;
        background: #1f1d1d;
    }

    .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .box-container .box {
        height: 11rem;
        width: 17rem;
        background: #101010;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 .3 5rem rgba(0, 0, 0, 5);
        margin: 2rem;
    }

    .box-container .box {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: white;
        background: #277eb0;
        transition: 0.3s;
     }

     .sau {
        padding: 30px;
        background: #1f1d1d;
    
     }

     .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
     }

     .box-container .box{
        height: 11rem;
        width: 17rem;
        background: #101010;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 0 .3 5rem rgb(0,0,0, .5);
        margin: 2rem;
    
     }

     .box-container .box i {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background: #404244;
        font-size: 2rem;
        margin: 1rem;
        transition: 0.3s;
    }

    .box-container .box .linux{
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        background: #404244;
        font-size: 2rem;
        margin: 1rem;
        transition: 0.5s;
    }
.box-container .box i:hover {background-color: #1b64a0;}

.box-container .box h3, a {
    font-size: 20px;
    color: #1573c0;
}

.box-container .box p {
    padding: 0px;
    font-size: 16px;

}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    background: transparent;
    transition: all 400ms;}


 .btn:hover{
    background: #9c27b0;

 }

 .btn-home {
    display: flex;
 }
.btn-home a{
    margin: 0 10px;
}


















@media(max-width: 768px) {
    .title{
        margin-bottom: 0;
        font-size: 40px;

    }
    .sau{
        height: 120vh;
    }
    .navbar {
        display: none;
    }
}

.foto {
   width: 15rem;
  margin: -4rem;
}