*{  margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;}
body{
    font-family: sans-serif;}
/*Barra de inicio*/  
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width:100%;
    background: #ffffff;
    position:fixed;
    z-index: 100;
    border-bottom:solid 1px rgb(0, 0, 0)}
.logo{
    margin-left: 20px;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;}
.navbar{
    display: flex;}
.navbar a{
    display: block;
    padding: 22px 10px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.3s ease;}
.b1:hover {
    background-color:rgb(8, 108, 201, 0.5)}
/*Header*/
.header{
    background:var(--i);
    background-size:cover;
    overflow: hidden;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.header-base{
    padding-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.233);
    flex-direction: column;}
.title {
    margin-top:20px;
   margin-bottom: 40px;
   font-size: 60px;
   font-weight: 600;
   text-transform: uppercase;
   color: #fff;}
.p1 {
    text-align:center;
    width:80%;
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;}
.btn-1{
        display: inline-block;
        margin-top: 15px;
        padding: 10px 40px;
        border: 3px solid #ffffff;
        border-radius: 5px;
        color: #ffffff;
        text-decoration: none;
        background: transparent;
        transition: all 0.3s ease 0s;}
.btn-1:hover{
        color:white;
        background: #9c27b0;
        border-color: #9c27b0;
        transform: scale(1.1);}
.btn-base{
        display: flex;}
.btn-home a{
        margin: 0 10px;}
/*Primera Seccion*/
.seccion-1{
    min-height:30vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    border-bottom:solid rgb(36, 36, 36);
    background-color: #ffffff;}
.btn-base-2{margin: 20px;}
.title-2 {
    margin: 20px;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;}
.desk{
    width: 80%;
    text-align:center;
    font-size: 16px;
    color: #000000;}
.se{
    margin: 20px;}
.btn-2{
        display: inline-block;
        padding: 10px 40px;
        border: 2px solid #000000;
        border-radius: 5px;
        color: #000000;
        text-decoration: none;
        background: transparent;
        transition: all 0.3s ease 0s;}
.btn-2:hover{
        color:white;
        background: #9c27b0;
        border-color: #9c27b0;
        transform: scale(1.1);}
/*Segunda Seccion*/
.Apps{
    min-height:30vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;}  
.title-3 {
    margin: 20px;
    text-align:center;
    font-size: 50px;
    text-transform: uppercase;
    color: #000000;}
.desk-2{
    margin: 40px;
    text-align:center;
    font-size: 16px;
    color: #000000;}
.btn2{
    display: inline-block;
    padding: 10px 40px;
    border-left: 3px solid #000000;
    border-right: 3px solid;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    background: transparent;
    transition: all 0.3s ease 0s;}
.box-container{
     padding: 20px;
    gap: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}
.box-container .box{
    text-align: center;}
.box-container i{
    height: 10rem;
    width: 10rem;
    line-height: 10rem;
    text-align: center;
    border-radius: 50%;
    color: #000000;
    border: solid 2px black ;
    font-size: 5rem;
    transition: all .3s ease ;}
.box-container i:hover{
    color: white;
    background-color: #313131;}
.box h3{
    margin:20px;
    font-size: 2rem;}
.box-container a{
    display:inline-block;
    text-decoration: none;
    color: black;
    border:solid black;
    padding: 10px 15px;
    border-radius: 6%;
    transition: all .4s ease;}
.box a:hover{
    color:white;
    background: #1573c0;
    border-color: #1573c0;
    transform: scale(1.1);
    transform: translateY(-30%);}
/*Tercera Seccion*/
.article{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(img/costo.jpg) no-repeat center;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;}
.title-4{
    margin: 20px;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;}
.desk-3{
    width: 80%;
    text-align:center;
    font-size: 16px;
    color: #ffffff;}
.desk-4{
    text-transform: uppercase;
    color: white;
    padding: 20px;}
/*Cuarta Seccion*/
.seccion-4{
    text-align: center;
    min-height:30vh;
    display: flex;
    flex-direction: column;
    border-bottom:solid black;
    background-color: #ffffff;}
.title-5{
    margin: 20px;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #000000;}
.desk-5{
    margin: 20px;}
/*Botones*/
.btn{
    margin: 30px;
    display: inline-block;
    padding: 10px 40px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    background: transparent;
    transition: all 0.3s ease 0s;}
.btn:hover{
    color:white;
    background: #9c27b0;
    border-color: #9c27b0;
    transform: scale(1.1);}
.btn-home {
    display: flex;}
.btn-home a{
    margin: 0 10px;}
.contact{
padding:20px ;
background: #171717;}
/*Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    height: 60px;
    color: white;}
footer p{
    text-transform: uppercase;
    margin: 0;}
footer a{
    padding-right: 10px;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;}
footer a:hover{
    color: #9c27b0;}
